.main{
    position: absolute;
    /* left: 50%;
    top:10%;
    transform: translate(-50%,-50%); */
}
.tab {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.tab li {
    float: left;
}

.tab li a {
    text-decoration: none;
    color: #000;
    background: #ddd;
    display: inline-block;
    width: 350px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#tool1,
#tool2,
#tool3,
#tool4 {
    display: none;
    width:1400px;
    height:600px;
    border:1px solid #ddd;
    position: absolute;
    top:40px;
    padding:10px;
    box-sizing: border-box;
}

#tool1:target,
#tool2:target,
#tool3:target,
#tool4:target {
    display: block;
}
#tool1:target ~ .tab li:nth-child(1) a{
    background:skyblue;
    color:#fff;
}
#tool2:target ~ .tab li:nth-child(2) a{
    background:skyblue;
    color:#fff;
}
#tool3:target ~ .tab li:nth-child(3) a{
    background:skyblue;
    color:#fff;
}
#tool4:target ~ .tab li:nth-child(4) a{
    background:skyblue;
    color:#fff;
}

.hr0{ height:1px;border:none;border-top:1px dashed #1E90FF;}  
.hr1{ height:1px;border:none;border-top:1px solid #000;}  
.hr2{ height:3px;border:none;border-top:3px double #6B8E23;}  
.hr3{ height:5px;border:none;border-top:3px ridge #45D6D8;} 

input, select {
    display: inline;
}

.dz_text{  
    display: inline-block; margin-bottom: 20px; margin-right: 10px; border: 1px solid #ccc; padding: 7px 0px;  
    padding-left:5px; height: 22px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);  
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;  
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;  
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s  
}  
.dz_text:focus{  
    border-color: #66afe9; outline: 0;  
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);  
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)  
} 
.longin{
    width: 450px;
}
select{
    width: 120px;
    height: 35px;
}